# Node modules
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Environment variables
backend/.env
frontend/.env

backend/node_modules
frontend/node_modules
backend/src/generated/prisma


# OS files
.DS_Store


